<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/amaa/style.css">
    <link rel="stylesheet" href="/css/amaa/navbar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="create-post-bg" id="create-post-bg">
    </div>
    <div class="create-post-container">
        <div class="author-container">
            <a href="#" class="ab">
                <div class="abc">
                    <img class="profile-img" src="/assets/amaa/yenchi.jpg" alt="yenchi">
                </div>
            </a>
            <div class="a-ask">
                <a href="#" class="user-link">Nguyen Hoang Anh</a>
            </div>
        </div>
        <form class="create-post-content" action="/amaa/post/add" method="POST" enctype="multipart/form-data">
            <textarea placeholder="Ban dang nghi gi?" id="post" name="content"></textarea>
            <input type="file" id="image" name="file">
            <button type="submit" id="submit">Đăng</button>
        </form>
    </div>
    <div class="navbar-container">
        <div class="logo-container">
            <div class="logo">
                <a href="/amaa/" class="logo-img">
                    <img src="/assets/amaa/logo" alt="">
                </a>
            </div>
            <form class="search-container">
                <input type="search" placeholder="Tim kiem">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <ul class="navbar">
            <li class="nav">
                <a href="#" class="active"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav">
                <a href="#"><i class="fas fa-play-circle"></i></i></a>
            </li>
            <li class="nav">
                <a href="/amaa/chat"><i class="fab fa-facebook-messenger">
                    <span class="notification-count">10</span>
                </i></a>
            </li>
            <li class="nav">
                <a href="/amaa/notification"><i class="fas fa-bell">
                    <span class="notification-count">5</span>
                </i></a>
            </li>
            <li class="nav">
                <a href="/amaa/user/profile"><i class="fas fa-user"></i></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="newfeed">
            <div class="post-container">
                <div class="a">
                    <a href="#" class="ab">
                        <div class="abc">
                            <img class="profile-img" src="/assets/amaa/yenchi.jpg" alt="yenchi">
                        </div>
                    </a>
                    <div class="a-ask">
                        <p id="create-post-show">Ban dang nghi gi</p>
                    </div>
                </div>
            </div>
            <div class="post-container" pid="6075a9106846e8aaee009106">
                <div class="author-container">
                    <a href="#" class="ab">
                        <div class="abc">
                            <img class="profile-img" src="/assets/amaa/yenchi.jpg" alt="yenchi">
                        </div>
                    </a>
                    <div class="a-ask">
                        <a href="#" class="user-link">Nguyen Hoang Anh</a>
                        <a href="#" class="post-time-link">16 minutes</a>
                    </div>
                </div>
                <div class="post">
                    <div class="post-content">
                        <p>loribus facilis nihil, suscipit tempus dis quasi eros! Eum quaerat dolore cumque. Sollicitudin mus habitant cillum placerat arcu duis eros distinctio natus maecenas aliquip. Orci ornare nibh potenti iure optio accumsan convallis lacus illum illo. Sagittis dolore ac, modi nostrud fringilla incidunt natoque suspendisse leo aliquet maecenas dictumst, elit possimus illo! Diamlorem! Aute natus, aliquid tenetur, harum lacinia reprehenderit hendrerit deserunt, ratione elementum corrupti, iste incidunt pariatur platea ridiculus congue sociis elementum! Ut perferendis placeat inventore, architecto fugit. Hac quo debitis nisl? Sequi expedita! Iaculis magnam facilisi. Conubia, molestiae debitis accumsan platea est ea facilisi laoreet iure assumenda? Omnis </p>
                    </div>
                    <div class="post-image">
                        <img src="/assets/amaa/yenchi.jpg" alt="mctominay">
                    </div>
                    <div class="post-reaction-count">
                        <div class="prcc">
                            <span class="love"><i class="fas fa-heart"></i></span>
                            <span class="haha"><i class="fas fa-laugh-beam"></i></span>
                            <span class="sad"><i class="fas fa-sad-tear"></i></span>
                            <span class="prcn">20</span>
                        </div>
                    </div>
                    <div class="post-reaction-container">
                        <div class="cm-container">
                            <button type="button" class="love active" ><i class="fas fa-heart"></i></button>
                        </div>
                        <div class="cm-container">
                            <button type="button" class="haha"><i class="fas fa-laugh-beam"></i></button>
                        </div>
                        <div class="cm-container">
                            <button type="button" class="sad"><i class="fas fa-sad-tear"></i></button>
                        </div>
                        <!-- <div class="cm-container">
                            <button type="button" class="comment"><i class="fas fa-comment"></i></button>
                        </div> -->
                    </div>
                    <div class="comment-container">
                        <div class="own-comment-container">
                            <a href="#" class="ab">
                                <div class="abc">
                                    <img src="/assets/amaa/yenchi.jpg" alt="" class="profile-img">
                                </div>
                            </a>
                            <form class="ocinput">
                                <input type="text" class="cmipct" placeholder="Hay viet binh luan vao day">
                                <button type="submit" class="cmsm"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                        <div class="comment-list-container">
                            <div class="user-comment-container">
                                <a href="#" class="ab">
                                    <div class="abc">
                                        <img src="/assets/amaa/post.jpg" alt="" class="profile-img">
                                    </div>
                                </a>
                                <div class="user-comment-content">
                                    <a href="#" class="user-comment-name">Nguyen Hoang Anh</a>
                                    <p>Vkl Chuyen ha</p>
                                    <div class="user-comment-reaction">
                                        <span>Thich</span>
                                        <span>Tra loi</span>
                                    </div>
                                </div>
                            </div>
                            <div class="user-comment-container">
                                <a href="#" class="ab">
                                    <div class="abc">
                                        <img src="/assets/amaa/yenchi.jpg" alt="" class="profile-img">
                                    </div>
                                </a>
                                <div class="user-comment-content">
                                    <a href="#" class="user-comment-name">Nguyen Hoang Anh</a>
                                    <p>Ahihi</p>
                                    <div class="user-comment-reaction">
                                        <span>Thich</span>
                                        <span>Tra loi</span>
                                    </div>
                                </div>
                            </div>
                            <div class="user-comment-container">
                                <a href="#" class="ab">
                                    <div class="abc">
                                        <img src="/assets/amaa/yenchi.jpg" alt="" class="profile-img">
                                    </div>
                                </a>
                                <div class="user-comment-content">
                                    <a href="#" class="user-comment-name">Nguyen Hoang Anh</a>
                                    <p> neque, dis aut. Eum non varius neque blandit distinctio morbi tenetur, beatae nunc? Ea distinctio nostrud conubia, aliquet urna hac maiores error repellendus? Consequuntur occaecati scelerisque voluptates. Occaecat praesentium. Ullamcorper posuere condimentum auctor augue incidunt itaque tincidunt placerat curae, tristique excepteur, odit aenean voluptatem proin hac tristique praesentium dignissimos recusandae! Mi, repudiandae harum euismod eum necessitatibus lectus! Ac, delectus doloremque consectetuer blanditiis alias aliquam veritatis soluta! Nulla diamlorem hendrerit. Similique, tempus facilisis officiis, recusandae pro</p>
                                    <div class="user-comment-reaction">
                                        <span>Thich</span>
                                        <span>Tra loi</span>
                                    </div>
                                </div>
                            </div>
                            <span class="clcxt">Xem them</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/js/amaa/index.js"></script> -->
    <script>
        $(document).ready(function () {
            $('#create-post-show').click(function (e) { 
                e.preventDefault();
                $('#create-post-bg').show()
                $('.create-post-container').show()
            });
            
            $('#create-post-bg').click(function (e) { 
                e.preventDefault();
                $(this).hide()
                $('.create-post-container').hide()
            });

            $('.love').click(function(e) {
                e.preventDefault()
                let t = $(this).closest('.post-container')
                let pid = $(t).attr('pid')
                $.ajax({
                    type: "POST",
                    url: "/amaa/post/like",
                    data: {
                        pid: pid,
                        type: 1
                    },
                    success: (res) => {
                        console.log(res)
                    }
                });
            })

            $('.haha').click(function(e) {
                e.preventDefault()
                let t = $(this).closest('.post-container')
                let pid = $(t).attr('pid')
                $.ajax({
                    type: "POST",
                    url: "/amaa/post/like",
                    data: {
                        pid: pid,
                        type: 2
                    },
                    success: (res) => {
                        console.log(res)
                    }
                });
            })

            $('.sad').click(function(e) {
                e.preventDefault()
                let t = $(this).closest('.post-container')
                let pid = $(t).attr('pid')
                $.ajax({
                    type: "POST",
                    url: "/amaa/post/like",
                    data: {
                        pid: pid,
                        type: 3
                    },
                    success: (res) => {
                        console.log(res)
                    }
                });
            })

            $('.ocinput').submit(function(e) {
                e.preventDefault()
                let t = $(this).children('.cmipct')
                let comment = $(t).val()
                t = $(this).closest('.post-container')
                let pid = $(t).attr("pid")
                $.ajax({
                    type: "POST",
                    url: "/amaa/post/comment",
                    data: {
                        pid: pid,
                        comment: comment
                    },
                    success: (res) => {
                        console.log(res)
                    }
                });
            })
        });
    </script>
</body>
</html>