<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/amaa/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="header">Đăng nhập</h1>
        <form action="/amaa/login" method="POST">
            <input type="email" class="input" placeholder="Email" name="email" required>
            <input type="password" class="input" placeholder="Password" name="password" required>
            <div class="submit-container">
                <button type="submit">Đăng nhập</button>
            </div>
        </form>
        <a href="#" class="forget-password">Quên mật khẩu?</a>
        <div class="submit-container">
            <a href="/amaa/register" class="register">Đăng ký</a>
        </div>
        <% if (messages.length > 0) { %>
            <% if(messages[0].type === 'error') { %>
                <div class="error-container">
                    <p class="error"><%= messages[0].message %></p>
                </div>
            <% } %>
        <% } %>
        
    </div>
</body>
</html>